.header {
    margin-bottom: 30px;
}

.header__logo {
    border-radius: 50%;
    border: 1px solid var(--colorGris);
    width: 180px;
    margin: 15px auto 30px;
    display: block;
}

.header__hamburger {
    border: none;
    background-color: var(--colorGris);
    margin: 0 auto 30px;
    display: block;
    width: 40px;
    height: 40px;
    font-size: 24px;
    color: white;
}

.header__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header__nav--menu {
    width: 100%;
}

.header__nav--menu li {
    width: 100%;
    background-color: var(--colorGris);
    text-transform: uppercase;
    margin-bottom: 2px;
    text-align: center;
}

.header__nav--menu li a {
    line-height: 50px;
}

/* tablet (768) */
@media (min-width: 426px) {
    .header__hamburger {
        display: none;
    }

    .header__nav--menu li {
        display: inline-block;
    }
}

@media (min-width: 768px) {
    .header__nav--menu {
        width: inherit;
    }

    .header__nav--menu li {
        width: 140px;
        height: 40px;
    }

    .header__nav--menu li a {
        line-height: 40px;
    }
}

@media (min-width: 1280px) {
    .header__nav--menu li {
        width: 180px;
        height: 50px;
    }

    .header__nav--menu li a {
        line-height: 50px;
    }
}